{% load static %}
{% include "recipes/nav.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'registration/password_reset_form.css' %}">

<div class="container">
<form action="" method="post">
{% csrf_token %}
{% if form.email.errors %}
    {{ form.email.errors }}
{% endif %}
<p>Enter your email address to receive a link to update your password.</p>
<div class="input-section">
{{form.email.label_tag}}
{{ form.email }}
</div>
    <input type="submit" class="reset-button" value="Reset password">
</form>
</div>