@import "./variables-copy.css";

p {
    background-color: var(--tertiaryColour);
    width: 500px;
    margin: 200px auto;
    padding: 50px;
    font-size: var(--smallHeadingFontSize);
    color: var(--quaternaryColour);
    font-weight: bolder;
}