@import "./variables-copy.css";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    height: 150px;
    width: 600px;
    margin: 200px auto;
    background-color: var(--tertiaryColour);
    padding: 20px 0px;
}

h1 {
    font-size: var(--smallHeadingFontSize);
    color: var(--quaternaryColour);
}