@import "variables.css";

h1 {
    color: var(--quaternaryColour);
    text-align: center;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: var(--regularPadding);
    margin: var(--regularMargin);
}

.card {
    background-color: var(--primaryColour);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--regularPadding)
}

.recipe-name {
    color: white;
    text-decoration: none;
    font-size: var(--smallHeadingFontSize);
    font-weight: bolder;
    padding-bottom: 10px;
}

.create-recipe-card {
    background-color: var(--tertiaryColour);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--regularPadding);
}

.create-recipe-link {
    color: var(--quaternaryColour);
    font-weight: bolder;
    text-decoration: none;
    font-size: var(--smallHeadingFontSize);
}
